<%= form_for(@traffic) do |f| %>
  <% if @traffic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@traffic.errors.count, "error") %> prohibited this traffic from being saved:</h2>

      <ul>
      <% @traffic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :log %><br>
    <%= f.text_field :log %>
  </div>
  <div class="field">
    <%= f.label :Car_id %><br>
    <%= f.text_field :Car_id %>
  </div>
  <div class="field">
    <%= f.label :tempo %><br>
    <%= f.text_field :tempo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
