<p id="notice"><%= notice %></p>

<h1>Listing Traffics</h1>

<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Log</th>
      <th>Car</th>
      <th>Tempo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traffics.each do |traffic| %>
      <tr>
        <td><%= traffic.lat %></td>
        <td><%= traffic.log %></td>
        <td><%= traffic.Car %></td>
        <td><%= traffic.tempo %></td>
        <td><%= link_to 'Show', traffic %></td>
        <td><%= link_to 'Edit', edit_traffic_path(traffic) %></td>
        <td><%= link_to 'Destroy', traffic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traffic', new_traffic_path %>
