<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @traffic.lat %>
</p>

<p>
  <strong>Log:</strong>
  <%= @traffic.log %>
</p>

<p>
  <strong>Car:</strong>
  <%= @traffic.Car %>
</p>

<p>
  <strong>Tempo:</strong>
  <%= @traffic.tempo %>
</p>

<%= link_to 'Edit', edit_traffic_path(@traffic) %> |
<%= link_to 'Back', traffics_path %>
